################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConJob/ConJob.API/appsettings.json
/.vs
/ConJob/.vs